@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: rgb(31, 31, 31);
}

header .avisostext {
  background-color: #FF5858;
  text-align: center;
  color: #fff;
}
header .avisostext #avisoh3 {
  font-size: 1em;
}
header .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(24, 24, 24);
}
header .menu .logo img {
  width: 100px;
}
header .menu a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}
header .menu a:hover {
  color: #FF5858;
}

.reco {
  padding-top: 200px;
  text-align: center;
  color: #fff;
}
.reco .reconocida {
  padding-top: 100px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.reco .reconocida .ml {
  padding-top: 80px;
  padding-bottom: 80px;
}
.reco .reconocida .ml img {
  width: 200px;
}
.reco .reconocida .rappi img {
  width: 150px;
}
.reco .reconocida .aerolineas {
  padding-top: 80px;
}
.reco .reconocida .aerolineas img {
  margin-bottom: 50px;
  width: 150px;
}

.certificado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.certificado img {
  width: 250px;
}
.certificado .certext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}
.certificado .certext i {
  color: #FF3131;
}

.sobre-beca {
  background-color: rgb(24, 24, 24);
  margin: auto;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  color: #FF5858;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.sobre-beca .beca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
}
.sobre-beca .beca button {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FF3131;
}
.sobre-beca .beca button:hover {
  background-color: #fff;
  color: #FF3131;
  font-weight: 700;
}

.secciones {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.secciones button {
  width: 160px;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 0;
  color: #FF3131;
}
.secciones button:hover {
  background-color: #fff;
  color: #FF3131;
  font-weight: 700;
}

.js-secciones-cursos {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}
.js-secciones-cursos a {
  text-decoration: none;
}
.js-secciones-cursos .js-seccion-design {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 240px;
  background-color: rgba(245, 245, 245, 0.1);
  text-align: center;
  border: 2px solid #FF5858;
  cursor: pointer;
}
.js-secciones-cursos .js-seccion-design h2 {
  color: #fff;
}
.js-secciones-cursos .js-seccion-design p {
  color: #fff;
}
.js-secciones-cursos .js-seccion-design img {
  width: 100px;
}
.js-secciones-cursos .js-seccion-design:hover {
  border: none;
}

.python {
  font-family: "Roboto", sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.python .py1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.python .py1 h2 {
  color: #fff;
  font-size: 2.5em;
}
.python .py1 h3 {
  color: #fff;
}
.python .py1 img {
  width: 150px;
}
.python .py1 button {
  margin-top: 20px;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FF3131;
}
.python .py1 button:hover {
  background-color: #fff;
  color: #FF3131;
  font-weight: 700;
}
.python .py2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.python .py2 i {
  color: #FF3131;
}
.python .py2 h3 {
  color: #fff;
}
.python .py2 .py-price {
  background-color: #FF5858;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.python .py2 .py-price p {
  color: #1F1F1F;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
}
.python .py2 .py-price button {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FF3131;
  background-color: #1F1F1F;
  margin: auto;
  text-align: center;
  height: 30px;
  width: 40px;
}
.python .py2 .py-price button i {
  color: #FF3131;
}
.python .py2 .py-price button:hover {
  background-color: #fff;
  color: #FF3131;
}

.javascript {
  font-family: "Roboto", sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.javascript .js1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.javascript .js1 h2 {
  color: #fff;
  font-size: 2.5em;
}
.javascript .js1 h3 {
  color: #fff;
}
.javascript .js1 img {
  width: 150px;
}
.javascript .js1 button {
  margin-top: 20px;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FF3131;
}
.javascript .js1 button:hover {
  background-color: #fff;
  color: #FF3131;
  font-weight: 700;
}
.javascript .js2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.javascript .js2 i {
  color: #FF3131;
}
.javascript .js2 h3 {
  color: #fff;
}
.javascript .js2 .js-price {
  background-color: #FF5858;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.javascript .js2 .js-price p {
  color: #1F1F1F;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
}
.javascript .js2 .js-price button {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #FF3131;
  background-color: #1F1F1F;
  margin: auto;
  text-align: center;
  height: 30px;
  width: 40px;
}
.javascript .js2 .js-price button i {
  color: #FF3131;
}
.javascript .js2 .js-price button:hover {
  background-color: #fff;
  color: #FF3131;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.whatsapp img {
  width: 50px;
}

footer {
  background-color: rgb(24, 24, 24);
}
footer .fooflex {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
footer .fooflex i {
  color: #FF3131;
  padding: 5px;
}
footer .fooflex .redes h3 {
  font-size: 0.9em;
}
footer .fooflex .ubication h3 {
  font-size: 0.9em;
}
footer .fooflex .ubication p {
  font-size: 0.7em;
}
footer .foorow {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .foorow h3 {
  font-size: 0.9em;
}
footer .foorow p {
  font-size: 0.7em;
}

@media screen and (min-width: 768px) {
  header .avisostext #avisoh3 {
    font-size: 1.5em;
  }
  header .menu {
    font-size: 1.3em;
  }
  header .menu .logo img {
    width: 110px;
  }
  .certificado {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .certificado img {
    width: 400px;
  }
  .reco .reconocida {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sobre-beca {
    width: 900px;
    height: 300px;
  }
  .secciones {
    flex-direction: row;
  }
  .js-secciones-cursos {
    flex-direction: row;
  }
  footer {
    margin-top: 100px;
  }
  footer .fooflex {
    flex-direction: row;
  }
  footer .fooflex .redes h3 {
    font-size: 1.4em;
  }
  footer .fooflex .ubication h3 {
    font-size: 1.4em;
  }
  footer .fooflex .ubication p {
    font-size: 1em;
  }
  footer .foorow h3 {
    font-size: 1.4em;
  }
  footer .foorow p {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */