$dark : rgb(24, 24, 24);
$darkmidle : rgb(31, 31, 31);
$primary: #FF5858;

@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: $darkmidle;
}

header {

    .avisostext {
        #avisoh3 {
            font-size: 1em;
        }

        background-color: #FF5858;
        text-align: center;
        color: #fff;
    }

    .menu {
        @include flex(center, center, column);
        font-family: 'Roboto', sans-serif;
        background-color: $dark;

        .logo img {
            width: 100px;
        }

        a {
            padding: 0 20px;
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            color: #FF5858;
        }

    }

}

.reco {
    padding-top: 200px;
    text-align: center;
    color: #fff;

    .reconocida {
        padding-top: 100px;
        @include flex(center, center, column);
        gap: 50px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;

        .ml {
            padding-top: 80px;
            padding-bottom: 80px;

            img {
                width: 200px;
            }
        }

        .rappi {
            img {
                width: 150px;
            }
        }

        .aerolineas {
            padding-top: 80px;

            img {
                margin-bottom: 50px;
                width: 150px;
            }
        }
    }

}

.certificado {
    @include flex(center, center, column);
    padding-top: 50px;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    img {
        width: 250px;
    }

    .certext {
        @include flex(center, center, column);
        height: 300px;

        i {
            color: #FF3131;
        }
    }
}

.sobre-beca {
    background-color: $dark;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    color: $primary;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    .beca {
        @include flex(center, center, column);
        gap: 30px;
        color: #fff;

        button {
            background: none;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #FF3131;

        }

        button:hover {
            background-color: #fff;
            color: #FF3131;
            font-weight: 700;
        }
    }
}

//------------------SECCION CURSOS------------------------------------
.secciones {
    margin: 50px 0;
    @include flex(center, center, column);
    gap: 10px;

    button {
        width: 160px;
        background: none;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 10px 0;
        color: #FF3131;
    }

    button:hover {
        background-color: #fff;
        color: #FF3131;
        font-weight: 700;
    }
}

.js-secciones-cursos {
    margin-bottom: 50px;
    @include flex(space-evenly, center, column);
    gap: 30px;

    a {
        text-decoration: none;
    }

    .js-seccion-design {
        margin: auto;
        @include flex(center, center, column);
        gap: 10px;
        width: 300px;
        height: 240px;
        background-color: rgb(245, 245, 245, .1);
        text-align: center;
        border: 2px solid $primary;
        cursor: pointer;

        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        img {
            width: 100px;
        }
    }


    .js-seccion-design:hover {
        border: none;
    }
}

//-------------------python------------------------------------------
.python {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    @include flex(space-around, center, column);
    flex-wrap: wrap;
    gap: 50px;

    .py1 {
        @include flex(center, center, column);

        h2 {
            color: #fff;
            font-size: 2.5em;
        }

        h3 {
            color: #fff;
        }

        img {
            width: 150px;
        }

        button {
            margin-top: 20px;
            background: none;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #FF3131;
        }

        button:hover {
            background-color: #fff;
            color: #FF3131;
            font-weight: 700;
        }
    }

    .py2 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        i {
            color: #FF3131;
        }

        h3 {
            color: #fff;
        }

        .py-price {
            background-color: #FF5858;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;

            p {
                color: #1F1F1F;
                font-size: 1.5em;
                font-weight: 600;
                margin: auto;
            }

            button {
                background: none;
                border: 2px solid #fff;
                border-radius: 5px;
                color: #FF3131;
                background-color: #1F1F1F;
                margin: auto;
                text-align: center;
                height: 30px;
                width: 40px;



                i {
                    color: #FF3131;
                }
            }

            button:hover {
                background-color: #fff;
                color: #FF3131;
            }

        }
    }
}

//-------------------JAVASCRIPT---------------------------------
.javascript {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    @include flex(space-around, center, column);
    gap: 50px;
    flex-wrap: wrap;

    .js1 {
        text-align: center;
        @include flex(center, center, column);

        h2 {
            color: #fff;
            font-size: 2.5em;
        }

        h3 {
            color: #fff;
        }

        img {
            width: 150px;
        }

        button {
            margin-top: 20px;
            background: none;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #FF3131;
        }

        button:hover {
            background-color: #fff;
            color: #FF3131;
            font-weight: 700;
        }
    }

    .js2 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        i {
            color: #FF3131;
        }

        h3 {
            color: #fff;
        }

        .js-price {
            background-color: #FF5858;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;

            p {
                color: #1F1F1F;
                font-size: 1.5em;
                font-weight: 600;
                margin: auto;
            }

            button {
                background: none;
                border: 2px solid #fff;
                border-radius: 5px;
                color: #FF3131;
                background-color: #1F1F1F;
                margin: auto;
                text-align: center;
                height: 30px;
                width: 40px;



                i {
                    color: #FF3131;
                }
            }

            button:hover {
                background-color: #fff;
                color: #FF3131;
                font-weight: 700;
            }

        }
    }
}

//-------------------WHATSAPP-----------------------------------

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;

    img {
        width: 50px;
    }
}

//-------------------FOOOTER------------------------------------
footer {
    background-color: $dark;

    .fooflex {
        text-align: center;
        @include flex(space-around, center, column);
        color: #fff;
        font-family: "Roboto", Arial, Helvetica, sans-serif;

        i {
            color: #FF3131;
            padding: 5px;
        }

        .redes {
            h3 {
                font-size: .9em;
            }
        }

        .ubication {
            h3 {
                font-size: .9em;
            }

            p {
                font-size: .7em;
            }
        }
    }

    .foorow {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 0.9em;
        }

        p {
            font-size: 0.7em;
        }
    }

}

//-------------------LOGIN--------------------------------------
.login {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    @include flex(center, center, column);
    color: #FF3131;
    gap: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(24, 24, 24);
    width: 300px;
    height: 350px;

    .logg {
        color: #fff;
        text-align: center;
        display: flex;
        gap: 20px;
        flex-direction: column;

        p {
            cursor: pointer;
        }

        input {
            width: 200px;
        }

        button {
            background: none;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #FF3131;
            background-color: #1F1F1F;
            margin: auto;
            text-align: center;
            height: 30px;
            width: 100px;
        }

        button:hover {
            background-color: #fff;
            color: #FF3131;
            font-weight: 700;
        }
    }
}


//------------------------CONTACTO------------------------------
.contacto{
    @include flex(center,center ,column );
    padding-top: 50px;
    color: #fff;
    form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        font-family: Roboto, Arial;
        input{
            width: 200px;
        }
        textarea{
            width: 200px;
            height: 100px;
        }
        button{
            margin-top: 10px; 
            width: 200px;
            background: none;
            border: 2px solid #fff;
            border-radius: 5px;
            color: #FF3131;
            background-color: #1F1F1F;
            text-align: center;
        }
        button:hover{
            background-color: #fff;
                color: #FF3131;
                font-weight: 700;
        }
    }
}
//--------------------------------------------------------------
@media screen and (min-width: 768px) {
    header {
        .avisostext {
            #avisoh3 {
                font-size: 1.5em;
            }
        }

        .menu {
            font-size: 1.3em;

            .logo img {
                width: 110px;
            }
        }
    }

    .certificado {
        img {
            width: 400px;
        }

        flex-direction: row;
        justify-content: space-evenly;
    }

    .reco {
        .reconocida {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .sobre-beca {
        width: 900px;
        height: 300px;
    }

    //------Seccion CURSOS-------
    .secciones {
        flex-direction: row;
    }

    .js-secciones-cursos {
        flex-direction: row;
    }

    //--------FOOTER--------------
    footer {
        margin-top: 100px;

        .fooflex {
            flex-direction: row;

            .redes {
                h3 {
                    font-size: 1.4em;
                }
            }

            .ubication {
                h3 {
                    font-size: 1.4em;
                }

                p {
                    font-size: 1em;
                }
            }
        }

        .foorow {
            h3 {
                font-size: 1.4em;
            }

            p {
                font-size: 1em;
            }
        }

    }
}